In [6]:
from sklearn import tree
from sklearn.cross_validation import train_test_split
from sklearn import metrics

%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
charity = pd.read_csv('Charity.csv')
dummies = pd.get_dummies(charity.RenewalsOrAcq)
charity = pd.concat([charity, dummies], axis=1)
charity.drop(['Renewals'], inplace=True, axis=1)
charity.drop(['dob'], inplace=True, axis=1)
charity.drop(['RenewalsOrAcq'], inplace=True, axis=1)
charity.drop(['suburb'], inplace=True, axis=1)
charity.drop(['state'], inplace=True, axis=1)
charity = charity.dropna(subset=['age'])
charity['age'] = charity['age'].convert_objects(convert_numeric=True)
charity = charity.dropna(subset=['age'])
charity['postcode'] = charity['postcode'].astype(str)
charity.postcode.dtype
tax = pd.read_csv('2014tax.csv')
tax['postcode'] = tax['postcode'].astype(str)
charity_new = pd.merge(charity, tax, on='postcode')
charity_new.head()
burs = pd.read_csv('abs2011combo.csv')
burs['postcode'] = burs['postcode'].astype(str)
charity_plus = pd.merge(charity_new, burs, on='postcode')
charity_plus.head()

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

,postcode,num_streets,collection_amount,donation_amount,total_received,age,weekends,profitable,Acq,Number of individuals,...,ID_NS_OcMngr,ID_NS_OcProf,ID_NS_OcTechTrdW,ID_NS_OcComPerS,ID_NS_OcClericAdm,ID_NS_OcSalesWk,ID_NS_OcMacOp_Driv,ID_NS_OcLab,ID_NS_OcID_NS,ID_NS_Tot
0,810,2,521.5,0,521.5,67,4,1,1,16956,...,8,20,27,15,15,10,19,29,99,242
1,810,2,250.0,0,250.0,57,4,1,1,16956,...,8,20,27,15,15,10,19,29,99,242
2,810,4,200.0,0,200.0,53,4,1,0,16956,...,8,20,27,15,15,10,19,29,99,242
3,810,2,140.0,0,140.0,59,4,1,1,16956,...,8,20,27,15,15,10,19,29,99,242
4,810,2,140.0,0,140.0,74,4,1,0,16956,...,8,20,27,15,15,10,19,29,99,242

In [8]:
X = charity_plus.filter(regex="[^total_received|^collection_amount|^donation_amount|^profitable]")

In [9]:
y = np.asarray(charity_plus['profitable'], dtype="|S6")

In [10]:
import xgboost as xgb
data = X
label = y
dtrain = xgb.DMatrix( data, label=label)

ValueError: DataFrame.dtypes for data must be int, float or bool.
Did not expect the data types in fields postcode